################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AutoRSS/bin
/AutoRSS/obj
*.user
/AutoRSS.Labeling/bin
/AutoRSS.Labeling/obj
/AutoRSS.Library/bin
/AutoRSS.Library/obj
/AutoRSS.Mapper/obj/Debug
/AutoRSS.Reducer/obj/Debug
/Build/Debug/461cb7d3-6f31-4b61-a84f-c7fedd8f6045
/Build/Debug/9275cd7a-8928-46a7-a1e5-8dfee3861378
/Build/Debug/fc6dbb26-7f7d-4581-a8da-8a324aad90e5
/Build/Debug/1efe056b-9ecf-4a77-b84c-1caea9f16bb3.csv
/Build/Debug/30f1ffed-c45d-44b5-8fe0-9d32e2220d68.csv
/Build/Debug/40410811-2a36-41ca-93eb-78ccdfd3ac87.csv
/Build/Debug/413454f7-0d47-434e-aeb1-e9f44d6d5202.csv
/Build/Debug/713bae93-dec6-4ba8-947f-9e778f321e16.csv
/Build/Debug/87d8b7b5-5dd1-4111-8333-fc0b97f76e46.csv
/Build/Debug/87d8b7b5-5dd1-4111-8333-fc0b97f76e46.xlsx
/Build/Debug/87d8b7b5-5dd1-4111-8333-fc0b97f76e46_2.xlsx
/Build/Debug/a07afc2b-b441-49b5-9d5b-746e8a528719.csv
/Build/Debug/a35c376c-e03c-4fc7-ac3c-b1ee62f9ff13.csv
/Build/Debug/aa7f29ab-7ef6-4af3-aebc-67ebb3387938.csv
/Build/Debug/abcfa999-7ed5-4adf-8bc1-59504939b8a2.csv
/Build/Debug/acc8d63a-41ae-4a3d-8574-064d3e38c346.csv
/Build/Debug/ad71a9fe-e85c-4bbe-8d06-50f756e80c8c.csv
/Build/Debug/ae8eea28-d379-4812-bea6-a19872154577.csv
/Build/Debug/AutoRSS.exe
/Build/Debug/AutoRSS.exe.config
/Build/Debug/AutoRSS.instr.pdb
/Build/Debug/AutoRSS.Labeling.instr.pdb
/Build/Debug/AutoRSS.Labeling.Parallel.exe
/Build/Debug/AutoRSS.Labeling.Parallel.pdb
/Build/Debug/AutoRSS.Labeling.Parallel.vshost.exe.config
/Build/Debug/AutoRSS.Labeling.Parallel.vshost.exe.manifest
/Build/Debug/AutoRSS.Labeling.V2.exe
/Build/Debug/AutoRSS.Labeling.V2.exe.config
/Build/Debug/AutoRSS.Labeling.V2.pdb
/Build/Debug/AutoRSS.Labeling.V2.vshost.exe
/Build/Debug/AutoRSS.Labeling.V2.vshost.exe.config
/Build/Debug/AutoRSS.Labeling.V2.vshost.exe.manifest
/Build/Debug/AutoRSS.Labeling.vshost.exe.config
/Build/Debug/AutoRSS.Labeling.vshost.exe.manifest
/Build/Debug/AutoRSS.Library.dll
/Build/Debug/AutoRSS.Library.instr.pdb
/Build/Debug/AutoRSS.Library.pdb
/Build/Debug/AutoRSS.Library.V2.dll
/Build/Debug/AutoRSS.Library.V2.pdb
/Build/Debug/AutoRSS.pdb
/Build/Debug/autorss_04ecad44-bb00-4b21-a2f1-7b2fa94c11f4
/Build/Debug/autorss_2027036d-6dda-42b9-ad90-ae4ef75a8a55
/Build/Debug/autorss_3d3bbd9d-1415-4922-9e85-5aa2d43fd3f4
/Build/Debug/autorss_3f04495c-ab91-4cfc-bd1d-96d2ea5ab701
/Build/Debug/autorss_4fdd94d0-f83b-4815-9906-5ac479991070
/Build/Debug/autorss_5791589d-2b69-4e05-81ab-0cf041dc8a35
/Build/Debug/autorss_69998e01-631f-4528-b8eb-85829fa3ead6
/Build/Debug/autorss_7487f8da-c2a4-4a20-ae6e-d31a2c9bafb7
/Build/Debug/autorss_7615a3d3-311c-4449-b1f4-5acdcebf421d
/Build/Debug/autorss_76fb7e0f-8bb5-4ec4-9d93-a4af2a466f4a
/Build/Debug/autorss_7771b827-911e-4565-916c-c813728a1af4
/Build/Debug/autorss_976b454f-d124-4f89-82cc-dc69d7e44539
/Build/Debug/autorss_a18f3e36-8a86-444f-a6de-d54772ba75cc
/Build/Debug/autorss_afcab1b6-9ddf-4f35-ac0e-d1d143ce0ab7
/Build/Debug/autorss_bd127f2f-2efa-434f-ac78-7038517a58f2
/Build/Debug/autorss_c2cb509f-ae34-46f6-b79f-63013df77368
/Build/Debug/autorss_c3b96636-7ecb-4234-b7aa-60239df73ec6
/Build/Debug/autorss_c420207b-3794-40e6-a337-91a9917f7a2b
/Build/Debug/autorss_caa9faed-8419-42f5-b9c2-dd2112d08621
/Build/Debug/autorss_ce17d651-4f45-4920-8f2c-6e9d42ec5973
/Build/Debug/autorss_d7dfb06f-0595-4054-a8b4-2c2ae2310371
/Build/Debug/autorss_dc01e76d-45ad-4d82-b4fe-8f0fc0a547ea
/Build/Debug/autorss_dceaa980-a8d2-4490-ab0d-dd3cb1c630d2
/Build/Debug/autorss_e1a8615e-922c-4508-82a3-75e13d007260
/Build/Debug/autorss_f70590c2-3d95-40e0-87f5-12e5bbfd3245
/Build/Debug/autorss_fc0dfe2a-ca3a-4ef1-b5f8-5302cdb422a0
/Build/Debug/autorss_fd41de74-beea-4226-a0fa-358abd7f0a4e
/Build/Debug/autorss_Scopes_0824640b-4dd3-492c-bad8-a7141de84720
/Build/Debug/autorss_Scopes_11137fa8-ae46-4b1c-8bde-47cd1e906b63
/Build/Debug/autorss_Scopes_11415e36-c0da-4487-b309-c4a88727a9ea
/Build/Debug/autorss_Scopes_12a0e2e3-5747-4d66-b70a-5e84e3e6dc87
/Build/Debug/autorss_Scopes_135534d3-a8d3-438a-b683-7f30d4a01a23
/Build/Debug/autorss_Scopes_1693cedd-daa4-4535-807a-09e73cef1f9b
/Build/Debug/autorss_Scopes_2242365f-c509-4916-b175-5c9838b066f4
/Build/Debug/autorss_Scopes_2594d396-3242-4c7f-b372-a5fd9363919d
/Build/Debug/autorss_Scopes_276a31b2-fdba-4683-852d-c37f8b29a57c
/Build/Debug/autorss_Scopes_39ec6bae-8fc2-480f-9114-681978be434c
/Build/Debug/autorss_Scopes_3c952454-45fd-4f29-8986-66a65632018c
/Build/Debug/autorss_Scopes_576a2ae5-ebdd-43c0-8ad9-1cabe2cd58e4
/Build/Debug/autorss_Scopes_6954147b-40bc-4c21-92b5-2ae690c34551
/Build/Debug/autorss_Scopes_928f7b8a-5a27-4b9d-9b3b-48fdb2347711
/Build/Debug/autorss_Scopes_9da8c894-d783-4efb-908c-02d06869353e
/Build/Debug/autorss_Scopes_ded8cfdc-3825-40a5-9d67-93e29183c716
/Build/Debug/autorss_Scopes_e14e9a0c-cd12-4d48-953f-3861c56a6510
/Build/Debug/autorss_Scopes_e8cbc22c-8095-421b-b390-8cc48f2373b5
/Build/Debug/autorss_Scopes_ff4372d5-00bb-4d70-86d0-23538aa87cb5
/Build/Debug/autoRSS_thresholdReport_1fee92e8-870d-4e41-9fb7-53f4b39d7c41.csv
/Build/Debug/autoRSS_thresholdReport_34d918ca-cff8-47c8-8705-45fbe6391516.csv
/Build/Debug/autoRSS_thresholdReport_527f9ffe-b3c8-4c44-8b37-efbc9d25cb91.csv
/Build/Debug/autoRSS_thresholdReport_527f9ffe-b3c8-4c44-8b37-efbc9d25cb91.xlsx
/Build/Debug/autoRSS_thresholdReport_5f2e1750-bf71-404c-b00e-aa191af86b46.csv
/Build/Debug/autoRSS_thresholdReport_5f2e1750-bf71-404c-b00e-aa191af86b46.xlsx
/Build/Debug/autoRSS_thresholdReport_5f5b83ff-ab16-43cc-90eb-574fb88a02c8.csv
/Build/Debug/autoRSS_thresholdReport_5f5b83ff-ab16-43cc-90eb-574fb88a02c8.xlsx
/Build/Debug/autoRSS_thresholdReport_ae3a3cae-fdc7-4a78-9c13-189b3051104a.csv
/Build/Debug/autoRSS_thresholdReport_dd7966ba-7c03-4f2c-8df2-ddbbf446d5c7.csv
/Build/Debug/b0b661bc-0c74-4b2c-8b4f-66224adce4fb.csv
/Build/Debug/c177c6d8-ee30-489e-9ee7-4c9f4e8b5b76.csv
/Build/Debug/c177c6d8-ee30-489e-9ee7-4c9f4e8b5b76.xlsx
/Build/Debug/c628b361-8740-41d4-9125-aa03b0f9ab1c.csv
/Build/Debug/c628b361-8740-41d4-9125-aa03b0f9ab1c.xlsx
/Build/Debug/cede57c8-afe7-4dd8-b100-b24da117ecaa.csv
/Build/Debug/d34c0dd7-8979-4b2a-b4e0-59581b337047.csv
/Build/Debug/e026236b-7486-498f-b12e-8679a12008ff.csv
/Build/Debug/e026236b-7486-498f-b12e-8679a12008ff.xlsx
/Build/Debug/ee9b9919-1501-4c3e-90e3-de9f35bf83a3.csv
/Build/Debug/ejml-0.19-nogui.dll
/Build/Debug/GenerateDictionary.exe
/Build/Debug/GenerateDictionary.exe.config
/Build/Debug/GenerateDictionary.pdb
/Build/Debug/GenerateDictionary.vshost.exe
/Build/Debug/GenerateDictionary.vshost.exe.config
/Build/Debug/GenerateDictionary.vshost.exe.manifest
/Build/Debug/IKVM.AWT.WinForms.dll
/Build/Debug/IKVM.OpenJDK.Beans.dll
/Build/Debug/IKVM.OpenJDK.Charsets.dll
/Build/Debug/IKVM.OpenJDK.Corba.dll
/Build/Debug/IKVM.OpenJDK.Core.dll
/Build/Debug/IKVM.OpenJDK.Jdbc.dll
/Build/Debug/IKVM.OpenJDK.Management.dll
/Build/Debug/IKVM.OpenJDK.Media.dll
/Build/Debug/IKVM.OpenJDK.Misc.dll
/Build/Debug/IKVM.OpenJDK.Naming.dll
/Build/Debug/IKVM.OpenJDK.Remoting.dll
/Build/Debug/IKVM.OpenJDK.Security.dll
/Build/Debug/IKVM.OpenJDK.SwingAWT.dll
/Build/Debug/IKVM.OpenJDK.Text.dll
/Build/Debug/IKVM.OpenJDK.Tools.dll
/Build/Debug/IKVM.OpenJDK.Util.dll
/Build/Debug/IKVM.OpenJDK.XML.API.dll
/Build/Debug/IKVM.OpenJDK.XML.Bind.dll
/Build/Debug/IKVM.OpenJDK.XML.Crypto.dll
/Build/Debug/IKVM.OpenJDK.XML.Parse.dll
/Build/Debug/IKVM.OpenJDK.XML.Transform.dll
/Build/Debug/IKVM.OpenJDK.XML.WebServices.dll
/Build/Debug/IKVM.OpenJDK.XML.XPath.dll
/Build/Debug/IKVM.Runtime.dll
/Build/Debug/IKVM.Runtime.JNI.dll
/Build/Debug/joda-time.dll
/Build/Debug/jollyday.dll
/Build/Debug/stanford-corenlp-3.2.0.dll
/Build/Debug/xom.dll
/GenerateDictionary/bin/Debug
/GenerateDictionary/obj/Debug
/packages/IKVM.7.3.4830.0
/packages/Stanford.NLP.CoreNLP.3.2.0.1
*.psess
*.suo
*.vspx
